<div class="comment">

  <p class="comment_author">
    Author:
    <%= comment.commenter %>
  </p>

  <p class="comment_body">
    Comment:
    <%= comment.body %>
  </p>

  <p>
    <%= link_to 'Delete', article_comment_path(@article.id, comment.id), :'data-toggle'=>'modal' ,class:'delete-btn'%>
  </p>
</div>
